{% extends 'base.html' %}

{% block contenido %}

<div class="container">
    <hr/>
    <h1 class=" well centrar">ARCHIVOS</h1>
    <hr/>

    <div class="row">
            <div class="col-md-8">
                <div class="row well">

                    <section><!-- INICIO DE SECCION DE LAS NOTICIAS-->

					<div class="col-md-12 ">

						 <article>
            <ul class="list-group">
                {% for contact in contacts %}

                    <table>
                    <tr style="font-size: 110%; "><td colspan="2"><strong><u>{{ contact.titulo | upper }}</u></strong></td></tr>

                    <tr><td><label class="label label-primary">Fecha</label></td><td style=" font-size: x-small">{{ contact.fecha }}</td></tr>
                    <tr><td><label class="label label-primary"></label></td><td style="text-align: center"> <a target="_blank" href="/media/{{ contact.archivo }}"><b>DESCARGAR...</b></a> </td></tr>
                    <tr><td><label class="label label-primary">Descripcion</label></td>
                    <tr><td></td><td style="text-align: justify;">{{ contact.contenido | truncatewords:20 | safe}} &nbsp; <td></tr>

                    </table>

                    <hr/>

                    <br/>
                {% empty %}
                    <p>¡¡¡No hay archivos...¡¡¡</p>
                {% endfor %}
                <span class="step-links">
                    {% if contacts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">Anterior</a>
                    {% endif %}

                    <span class="current">
                        Pagina {{ contacts.number }} de {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
                <!--<tr><td colspan="2" style="padding: 10px; text-align: center"><button class="button" onclick="print()" >Imprimir</button></td></tr>-->
            </ul>
        </article>
					</div>

                </section><!-- FIN DE SECCION DE LAS NOTICIAS-->



                </div>

            </div> <!-- fin del col md-8-->




                <div class="col-md-4" style="text-align: center"> <!-- cambiar a md-->




                            <img class="img img-responsive" src="/static/img/voluntario.png" alt=""/>

                    <br>

                        <img class="img img-responsive" src="/static/img/donativo.png" alt=""/>

                    <br>
                    <a class="twitter-timeline" href="https://twitter.com/FunEmmanuel" data-widget-id="449265748913819648">Tweets por @FunEmmanuel</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




                </div>


       </div><!--fin del row-->



</div>
{% endblock %}

{% block js %}
$("#inicio").removeClass("active");
$("#archivos").addClass("active");

{% endblock %}